:root {
  font-family: 'Times New Roman', Times, serif;
  font-size: x-large;
}

body {
  margin: 0;
  color: white;
  background-color: #1a1a1a;
  
  /* overflow-y: scroll;
  scrollbar-width: none; */
}

body::-webkit-scrollbar {
  display: none;
}